<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User {{this_User.id}} <a href="/users">Home</a></h1> 
    <div>
        <h3>Full Name: {{this_User.first_name}} {{this_User.last_name}}</h3>
        <h3>Email: {{this_User.email}}</h3>
        <h3>Created On: {{this_User.created_at}}</h3>
        <h3>Last Updated On: {{this_User.updated_at}}</h3>
    </div>
    <a href='/users/{{this_User.id}}/edit'>Edit</a>
</body>
</html>