<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{ this_author.name }} favorites </h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th># of Pages</th>
    
            </tr>
        </thead>
        <tbody>
            {% for one_book in this_Author.favorites %}
                <tr>
                    <td>{{ one_book.title }}</td> 
                    <td>{{ one_book.num_of_pages }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/dojos">Home</a>
</body>
</html>