<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <H1>New Author</H1>
        <form action="/authors/create" method="post">
            <label for="name">Name: </label>
            <input type="text" name="name">
            <input type="submit" value="Create">
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th> All Authors </th>
                </tr>
            </thead>
            <tbody>
                {% for one_author in all_authors %}
                    <tr>
                        <td><a href="/authors/{{one_author.id}}">{{ one_author.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html> 