<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Recipe</h1>
    <a href="/recipes">Back to Recipes</a>
    <a href="/logout">Logout</a>
    <form action="/changeRecipe", method="post">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="hidden" name="id" value = {{this_recipe.id}}>
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" value=" {{this_recipe.name}} ">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description"cols="30" rows="5">{{this_recipe.description}}</textarea>
        </div>
        <div>
            <label for="instructions">Instructions:</label>
            <textarea name="instructions"cols="30" rows="5">{{this_recipe.instructions}}</textarea>
        </div>
        <div>
            <label for="date">Date Made/Created:</label>
            <input type="date" name="date" value="{{this_recipe.date}}">
        </div>
        <div>
            <label for="under30">Under 30 minutes?</label>
            <input type="radio" name="under30" value = 'Yes' id="Yes" 
            {% if this_recipe.under30 == 'Yes' %}
                checked
            {% endif %}>
            <label for="Yes">Yes</label>
            <input type="radio" name="under30" value = 'No' id="No"
            {% if this_recipe.under30 == 'No' %}
                checked
            {% endif %}>
            <label for="No">No</label>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>