<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Eventer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
            </ul>
            <!-- need to make search bar work -->
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <h1>Edit Event</h1>
    <form action="/editEvent" method="post">
        <div id="left">
            <div>
                <label for="name">What is the Event Name:</label>
                <input type="text" name="name" value="{{this_event.name}}">
            </div>
            <div>
                <label for="location">Whats the Location:</label>
                <input type="text" name="location" value="{{this_event.location}}">
            </div>
            <div>
                <label for="date"> What Date is the Event:</label>
                <input type="date" name="date" value="{{this_event.date}}">
            </div>
        </div>
        <div id="middle">
            <label for="description">Event Description</label>
            <textarea name="description" cols="30" rows="10">{{this_event.description}}</textarea>
        </div>
        <div>
            <!-- googlemaps -->
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>