<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Eventer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- error here -->
                <!-- {% if 'user_id' not in session %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/signin">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% endif %} -->
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="navNewEvent" href="/newEvent">New</a>
                </li>
            </ul>
            <!-- need to make search bar work -->
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->>
        </div>
    </nav>
    <div>
        <h1>Event Name</h1>
        <div id="left">
            <h3>People Who said they were attending</h3>
            {% for one_person in all_people %}
                <p> {{one_person.first_name}} {{one_person.lastname}} </p>
            {% endfor %}
        </div>
        <div id="middle">
            <h3>Event Description</h3>
            {{this_event.description}}
        </div>
        <div id="right">
            <h3>Location: {{this_event.location}}</h3>
            <!-- googlemaps -->
        </div>
    </div>
</body>
</html>