<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table style="border: 1px solid black;">
        <tr>
            <th style="border: 1px solid black;">First Name</th>
            <th style="border: 1px solid black;">Last Name</th>
            <th style="border: 1px solid black;">Full name</th>
        </tr>
        {% for user in users %}
        </tr>
            <td style="border: 1px solid black;">{{ user['first_name'] }}</td>
            <td style="border: 1px solid black;">{{ user['last_name'] }}</td>
            <td style="border: 1px solid black;">{{ user['first_name'] }} {{ user['last_name'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>